* {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', Times, serif, Helvetica, sans-serif;
   
}

html { 
    background-color: rgb(143, 228, 231);
    width: 600px;
    padding: 5px;
    margin: auto auto;
    aspect-ratio: auto 600/712 ;
    border: rgb(0, 114, 66);
    border-radius: 5px;
  
}

container {
    display: block;
    padding: 30px 0px;
    color: rgb(8, 8, 7);
    justify-content: flex-start;
     
  }
 
  h1 { 
    font-weight: 900;
    font-size: 24px ;
    text-align: center;
    background-image: linear-gradient(
            to right,
            rgb(4, 100, 66) 0%,
            rgb(4, 100, 91) 100%,
        );
        color: white;
        padding: 40px;
  }

  h3 {
      font-weight: 700;
      font-size: 20px;
  }

  .form {
    font-size: 18px;
    padding: 40px;
}

  form-group input {
    width: 320px;
    color: #333;
    margin-bottom: 4px;
    padding: 10px;
    font-size: 20px;

  }

  .error-hint {
    color: red;
    font: size 10px; ;

  }

  input.invalid {
    border: 1px solid red;
  }

    
   button {
      padding: 10px;
      font-size: 24px;
      background: none;
      border: 1px solid rgb(32, 114, 0);
      border-radius: 10px;
      transition:all 1s ;
      cursor: pointer;
  }

  button:hover {
    background-color: rgb(0, 114, 66); 
    border: rgb(0, 0, 0);
    color: white; 

  }

  .hidden {
      display: none;
  }
  
.card-body {
      display: block;
      font-size: 18px;
      margin-bottom: auto;
      background-color: black;
      color:blanchedalmond;
      width: auto;
      height: auto;
  }
.h5 {
    text-align: center;
}
   

 

 