html { background-color: darkblue;
    background-color: rgb(22, 19, 18);
    background-image:
}
.container {
    display: block;
    
    color: rgb(8, 8, 7);
    justify-content: flex-start;
     
  }
  h1 { text-align: center;
  }
  
  .card-body {
      background-color: black;
      color:blanchedalmond;
  }

   

 

 